* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0px 25%;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff9800;
    color: white;
    padding: 10px 20px;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navLinks li {
    cursor: pointer;
}

/* Menu button */

.menuBtn {
    font-size: 25px;
    display: none;
    cursor: pointer;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #02f23a;
    color: white;
    padding-top: 30px;
    transition: 0.3s;
    z-index: 10;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #555;
}

.closeBtn {
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    color: red;
    top: 5px;
}

/* Main */

.main {
    text-align: center;
    padding: 10px;
}

.main1 {
    width: 100%;
}


.viewitmes {
    width: 100%;
    height: 100%;
    background-color: rgb(242, 241, 244);
    border: 1ps solid black;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.viewitmes img {
    width: 100%;
    height: 400px;
    padding-top: 10%;
}

.viewitmes h1 {
    padding: 5px 0px 2px 30%;
}

.rateinview {
    padding-left: 30%;
}

.viewbtn {
    width: 80%;
    height: 80px;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    bottom: 0px;
    background-color: #02f23a;
    margin-left: 15%;
    animation: hog 5s infinite alternate;
}

.spanview {
    text-align: center;
    width: 100%;
    display: block;
}

.viewimg img {
    width: 250px;
    height: 200px;
    
}

@keyframes hog {
    0% {
        transform: rotatex(10deg);
    }

    25% {
        transform: rotatex(50deg);
    }

    50% {
        transform: rotatex(90deg);
    }

    75% {
        transform: rotatex(40deg);
    }

    90% {
        transform: rotateX(50deg);
    }

    100% {
        transform: rotatex(12deg);
    }

}

.laptopview {
    display: flex;
    height: max-content;
    /* background-color: red; */
    
    /* overflow-x: hidden; */

}

.viewimg {
    width: max-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px red;
    padding: 10px;

}

#servcis1 {
    /* background-color: red; */
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

#servcis1 table {
    background-color: white;
    width: 100%;
    height: 100%;
}

#servcis1 table tr th,
td {
    border: 1px solid black;
}

.whatsappimg {
    width: 50px;
    position: fixed;
    bottom: 10px;
    border-radius: 100%;
    right: 0;
}

.servicsdata {
    /* width: 35%; */
    margin: 5px;
    height: 300px;
    border: 1px solid black;

}

.serrvicsimage {
    width: 100%;
    height: 85%;
}

.footer {
    background-color: blue;
    color: white;
    display: block;
    width: 100%;
    padding: 10px 30px;
    bottom: 0px;
}

.sildeimg {
    width: 100%;
    height: 250px;

}







@media (max-width: 900px) {

    .footerBox {
        flex-direction: column;
        text-align: center;
    }

    body {
        
        padding: 0px;
    }

    .footCol {
        width: 100%;
    }

}

/* Responsive */

@media (max-width: 768px) {

    .navLinks {
        display: none;
    }

    body {
        padding: 0px ;
    }

    .menuBtn {
        display: block;
    }

}